.header {
  outline: 1px solid red;

  nav {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.header--no-js {
  .header__toggle {
    display: none;
  }

  .header__nav--closed {
    display: block;
  }
}

.header__logo {
  width: 101px;
  height: 84px;
  outline: 1px solid green;

  @media (min-width: @tablet-width) {
    position: absolute;
  }
}

.header__nav {
  order: -1;
  width: 100%;
  outline: 2px solid green;

  &--closed {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 100%;

    &--closed {
      display: grid;
    }
  }
}

.header__toggle {
  position: absolute;
  top: 17px;
  right: 15px;

  width: 22px;
  height: 22px;
  border: none;

  background-color: transparent;

  outline: 2px solid green;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
