.photo-n-video {
  padding-top: 32px;
  padding-bottom: 38px;
  background-color: @white;

  @media (min-width: @tablet-width) {
    padding-top: 62px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 101px;
    padding-bottom: 85px;
  }
}

.photo-n-video__title {
  margin-top: 0;
  margin-bottom: 29px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 34px;
  }
}

.photo-n-video__text {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0 20px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  &:nth-of-type(2n) {
    padding: 0 30px;
    margin-bottom: 34px;
  }


  @media (min-width: @tablet-width) {
    width: 445px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    &:nth-of-type(2n) {
      margin-bottom: 0;
    }
  }
}

.photo-n-video__video {
  display: block;
  width: 100%;
  height: 201px;

  background-image: url("../img/video-mobile.jpg");
  background-image: url("../img/video-mobile.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-image: url("../img/video-mobile@2x.webp");
  }

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
    margin: 80px 60px 0;

    object-fit: cover;
    background-image: url("../img/video-tablet.jpg");
    background-image: url("../img/video-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-tablet@2dppx.jpg");
      background-image: url("../img/video-tablet@2dppx.webp");
    }
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    margin-top: 78px;
    margin-left: auto;
    margin-right: auto;

    background-image: url("../img/video-desktop.jpg");
    background-image: url("../img/video-desktop.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/video-desktop@2dppx.jpg");
      background-image: url("../img/video-desktop@2dppx.webp");
    }
  }
}
