.photo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid @grey-two;
}

.photo__link {
  order: -1;
}

.photo__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.photo__author {
  font-size: 14px;
  line-height: 24px;
}

.photo__likes {
  padding-left: 30px; //временно
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
