.promo {
  padding-top: 300px; // картинка сверху по макету
  outline: 1px solid red;
}

.promo__slogan {
  margin: 32px 0 20px; // временно
  padding: 0 10px; // Понять бы какой отступ по всей ширине у макета
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  outline: green;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.promo__text {
  padding: 0 15px; // !
  font-size: 14px;
  line-height: 26px;
}
