.promo {
  position: relative;
  padding: 33px 20px 11px;
  margin-bottom: 19px;
  background-color: @white;

  &::after {
    position: absolute;
    bottom: -37px;
    left: 0;
    right: 0;
    height: 37px;
    content: "";
    background-image: url("/img/promo-triangle.svg");
    background-repeat: no-repeat;
    background-size: 768px 37px;
    background-position: center top;
  }

  @media (min-width: @tablet-width) {
    padding-top: 44px;
    padding-bottom: 52px;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 56px;
    padding-bottom: 40px;
  }
}

.promo__slogan {
  margin: 0; // временно
  padding: 0 4px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 520px;
    font-size: 21px;
  }
}

.promo__text {
  margin: 33px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 520px;
    margin: 31px auto 0;
  }
}
