.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 15px;
  list-style: none;

  @media (min-width: @tablet-width) {
    max-width: calc(100% / 3);
  }
}

.social__item {
  width: 46px;
  height: 48px;

  background-color: @pale-blue;
  background-repeat: no-repeat;
  background-position: center;

  &--twitter {
    background-image: url("/img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("/img/icon-facebook.svg");
    background-position: center calc(50% - 2px); // pixel perfect
  }

  &--youtube {
    background-image: url("/img/icon-youtube.svg");
  }
}

.social__item + .social__item {
  margin-left: 7px;
}
