.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 15px;
  list-style: none;

  @media (min-width: @tablet-width) {
    max-width: calc(100% / 3);
  }
}

.social__item {
  width: 46px;
  height: 48px;
}

.social__item + .social__item {
  margin-left: 7px;
}


.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: @pale-blue;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    background-color: @pale-blue-hover;
  }

  &:active {
    background-color: @pale-blue-active;

    .social__svg {
      opacity: 0.3;
    }
  }
}


.social__svg {
  fill: @white;
}
