.subreasons {
  padding: 15px 15px 15px 30px;
  margin: 0 -14px;
  list-style: none;
  background-color: @white;
  color: @black;
  text-align: left;
}

.subreasons__item {
  margin-bottom: 20px;
}

.subreasons__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.subreasons__text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
