.subreasons {
  box-sizing: border-box;
  padding: 38px 20px 10px;
  margin: 0 -20px;
  list-style: none;
  background-color: @white;
  color: @black;
  text-align: left;

  @media (min-width: @tablet-width) {
    padding: 0 10px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 61px;
  }
}

.subreasons__item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 49px;

  &::before {
    position: absolute;
    top: -12px;
    left: 0;

    display: flex;
    width: 40px;
    height: 40px;
    content: "";

    background-repeat: no-repeat;
    background-position: center;
  }

  &--house::before {
    background-image: url("../img/icon-house.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/icon-gift.svg");
    transform: translateX(1px);
  }

  &--food::before {
    background-image: url("../img/icon-burger.svg");
    transform: translate(-2px, 5px);
  }

  @media (min-width: @tablet-width) {
    padding: 158px 22px 20px;
    margin-bottom: 0;

    &::before {
      top: 60px;
      left: 50%;
      transform: translateX(-50%);

      width: 75px;
      height: 75px;

      background-size: 60px;
    }

    &--house {
      &::before {
        width: 75px;
        height: 72px;

        background-size: 75px 72px;
      }
    }

    &--souvenirs {
      order: 1;

      &::before {
        top: 57px;

        width: 64px;
        height: 75px;

        background-size: 64px 75px;
      }
    }

    &--food {
      &::before {
        top: 63px;

        width: 76px;
        height: 68px;

        background-size: 76px 68px;
      }
    }
  }
}

.subreasons__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    text-align: center;
  }
}

.subreasons__text {
  margin: 16px 0 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin-top: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    padding: 0 20px;
  }
}

.subreasons__br-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.subreasons__br-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
