// Colors
@white: #ffffff;
@black: #000000;
@black-two: #010101;
@black-three: #333333;
@black-four: #000101;
@black-grey: #5C6870;
@pale-blue: #81b3d2;
@pale-blue-hover: #669EC0;
@pale-blue-active: #5496BD;
@grey: #eeeeee;
@grey-two: #e5e5e5;
@grey-three: #f2f2f2;
@grey-four: #dbdbdb;
@grey-five: #d6d6d6;
@grey-six: #e6e6e6;
@grey-seven: #d5d5d5;
@grey-eight: #eaeaea;
@brown: #766357;
@brown-hover: #604e43;
// Widths
@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1200px;
// Background-colors
@background-promo: #6c869b;
@background-map: #e6ecca;
@background-video: #c19d70;
